  <style>

      img{
               max-width: 1000px
              }
              {
                max-height: 100px
               }

 
          picture1{
                          width: 1000px
                          }
                         {
                            height: 100px
                           }


         body{
                   background-color: white
                   }
                 
         body{
                   color: black
                   }        

         h1{
                color:gold
               }
    
         h2{
                color: silver          

        body{
                  font-size: 20
                  }
    
         h1{
                font-size: 100
              }

          </style>